Repository wn-na/react-native-capture-protection, pull requests merged in 2023-08, with the labels that each got.

#15 fix: set handler for registerDisplayListener
  android/src/main/java/com/captureprotection/CaptureProtectionModule.java
Labels: Platform: Android, Code: Java, test preparation

#16 release: 1.7.0
  README.md
  android/src/main/java/com/captureprotection/CaptureProtectionModule.java
  package.json
  src/index.tsx
  src/utils.ts
Labels: Docs, release, Platform: Android, Code: javascript

#19 feat(android): add namespace to support upcoming react native 0.73
  android/build.gradle
Labels: Platform: Android

#20 release: v1.8.0
  README.md
  android/build.gradle
  package.json
Labels: Docs, release, Platform: Android, Code: Java

#22 release: v1.9.0
  example/ios/CaptureProtectionExample.xcodeproj/project.pbxproj
  ios/CaptureProtection.mm
  package.json
Labels: bug, Platform: iOS, Code: Objective-C
